<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <div class="container">
       <div class="row">
        <div class="mx-auto">
          <h1>マイページ</h1>
          <h4>登録情報</h4> <%=link_to "編集", customers_infomation_edit_path(@user.id) %>
              <div>氏名　<%= @user.first_name %>　<%= @user.last_name%></div>
              <div>カナ　<%= @user.first_name_kana %>　<%= @user.last_name_kana%></div>
              <div>郵便番号　<%= @user.postal_code %></div>
              <div>住所　<%= @user.address %></div>
              <div>電話番号　<%= @user.telephone_number %></div>
              <div>メールアドレス　<%= @user.email %></div>
              <div>注文履歴</div> <%=link_to "一覧を見る"  ,orders_path , method: :GET %>
         </div>
      </div>
    </div>
  </body>
 </html>