<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <div class="container">
       <div class="row">
        <div class="mx-auto">
          <h1>商品一覧</h1>
          <table class="table">
            <!--テーブルヘッダ-->
            <thead>
              <tr>
                <th>商品ID</th>
                <th>商品名</th>
                <th>税抜き価格</th>
                <th>ジャンル</th>
              </tr>
            </thead>
            <!--テーブルの項目設定-->
           <% @items.each do |item| %>
           <tbody>
             <tr>
               <td><div><%= item.id%></div></td>
               <td><div><%= link_to admin_item_path(item.id) do %><%=item.name%><% end %></div></td>
               <td><div><%= item.price%></div></td>
               <td><div><%= item.genre.name%></div></td>
               <% end %>
             </tr>
           </tbody>
           </table>
           <%=link_to '新規登録' ,new_admin_item_path,class: 'btn btn-success'%>
         </div>
       </div>
    </div>
 </body>

 </html>
