<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <main>
     <%= form_with model: @item ,url: admin_items_path, method: :POST do |f| %>
     <form class="form-horizontal">
              <div class="form-group row my-3">
               <label class="col-sm-4"><h1>商品新規登録</h1></label>
              </div>

              <div class="form-group row my-3">
                <label class="col-sm-4">商品画像</label>
                 <dd><label class="col-sm-4"><%= f.file_field :image, accept: "image/*" %></label></dd>
              </div>

              <div class="form-group row my-3">
                <label class="col-sm-4">商品名</label>
                 <dd><label class="col-sm-4"><%= f.text_field :name, placeholder: "商品名"  %></label></dd>
              </div>

              <div class="form-group row my-3">
                <label class="col-sm-4">商品説明</label>
                 <dd><label class="col-sm-4"><%= f.text_area :introduction,placeholder: "ここに説明文を記述します" %></label></dd>
              </div>

              <div class="form-group row my-3">
                <label class="col-sm-4">ジャンル</label>
                 <dd><label class="col-sm-4"><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %></label></dd>
              </div>

              <div class="form-group row my-3">
                <label class="col-sm-4">税抜き価格</label>
                 <dd><label class="col-sm-4"><%= f.text_field :price,placeholder: "1000"%></label></dd>
              </div>

              <div class="form-group row my-3">
                <label class="col-sm-4"><%= f.submit "新規登録" ,class: 'btn btn-success btn-lg '%></label>
              </div>
      <% end %>
    </main>
  </body>
</html>

