<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <main>
    <div class="container">
      <div class="row">
        <div class="mx-auto">
         <h1><%=@customer.first_name%><%=@customer.last_name%>さんの会員情報編集</h1>
            <%= form_with model: @customer ,url: admin_customer_path(@customer.id), method: :PATCH do |f| %>
            <div class="customer"><label>会員ID</label><%=@customer.id%></div>
            <div class="customer"><label>氏名</label><%= f.text_field :first_name,size: 10%>  <%= f.text_field :last_name,size: 10%></div>
            <div class="customer"><label>フリガナ</label><%= f.text_field :first_name_kana%>  <%= f.text_field :last_name_kana%></div>
            <div class="customer"><label>郵便番号</label><%= f.text_field :postal_code%></div>
            <div class="customer"><label>住所</label><%= f.text_field :address%></div>
            <div class="customer"><label>電話番号</label><%= f.text_field :telephone_number%></div>
            <div class="customer"><label>メールアドレス</label><%= f.text_field :email%></div>
            <div class="customer"><label>会員ステータス</label>
            <%= f.label :is_deleted, "有効" %><%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted, "無効" %><%= f.radio_button :is_deleted, false %>
            </div>
            <div class="button"><%= f.submit "変更を保存" ,class: 'btn btn-success btn-lg '%></div>
            <% end %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
