<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <main>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1>注文情報確認</h1>
           <table class="table">
            <!--テーブルヘッダ-->
            <thead>
              <tr>
                <th>商品名</th>
                <th>単価(税込み)</th>
                <th>数量</th>
                <th>小計</th>
              </tr>
            </thead>
            <!--テーブルの項目設定-->
           <% @cart.each do |c| %>
           <tbody>
             <tr>
               <td><div><%= c.item.name%></div></td>
               <td><div><%= c.item.with_tax_price %></div></td>
               <td><div><%= c.amount%></div></td>
               <td><div><%= c.subtotal%></div></td>
               <% @total += c.subtotal %>
            <% end %>
             </tr>
           </tbody>
           </table>
           <br><h5>支払方法</h5>
           <% if @payment_method =="credet" %>
               クレジットカード
           <% else%>
               銀行振込
           <% end %>
           <br><h5>お届け先</h5><%=@order_address%>
          </div>
          <div class = "col-sm-4">
            <table>
             <tr>
               <th>送料</th><td><%=@order.shipping_fee%></td>
            　</tr>

             <tr>
               <th>商品合計</th><td><%=@total%></td>
            　</tr>

             <tr>
               <th>請求金額</th><td><%=@total+@order.shipping_fee%></td>
            </tr>
          </table>
          </div>
          <!--確定時に必要な情報を送る-->
          <%= form_with model: @order, url: orders_path, method: :POST do |f|%>
          <!--支払方法を送る-->
          <%= f.hidden_field :payment_method, :value => @payment_method %>
          <!--送り先を送る-->
          <%= f.hidden_field :address, :value => @order.address %>
          <%= f.hidden_field :adress_name, :value => @order.adress_name %>
          <%= f.hidden_field :post_code, :value => @order.post_code %>
          <%= f.hidden_field :id, :value => @order.id %>
          <!--金額を送る-->
          <%= f.hidden_field :total_amount, :value => @total%>
          <%= f.submit "注文を確定する",class: 'btn btn-success btn-lg '%>
          <% end %>
        </div>
    </main>
  </body>
</html>