<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <div class="container">
       <div class="row">
        <div class="mx-auto">
            <h1>注文履歴一覧</h1>
          <table class="table">
            <!--テーブルヘッダ-->
            <thead>
              <tr>
                <th>注文日</th>
                <th>配送先</th>
                <th>注文商品</th>
                <th>支払金額</th>
                <th>注文詳細</th>
              </tr>
            </thead>
            <!--テーブルの項目設定-->
           <% @order.each do |order| %>
           <tbody>
             <tr>
               <td><div><%= order.updated_at.to_s(:datetime_jp)%></div></td>
               <td><div><%= order.address %></div></td>
               <!--itemテーブルより商品名を取得すrため再度eachで取得-->
               <td>
               <% order.order_products.each do |c| %>
               <div><%= c.item.name%></div>
               <% @total += c.sabtotal%>
               <% end %>
               </td>
               <td><div><%= @total + 800%></div></td>
               <td><%= link_to "表示する" ,order_path(order),method: :GET%></td>
             </tr>
           </tbody>
           <% end %>
           </table>
         </div>
       </div>
    </div>
 </body>

 </html>
