<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <h1>商品一覧(全<%=@items.count%>件)</h1>
   <div class="flexbox">
          <% @items.each do |item| %>
          <div class="flex-item"><div><%= link_to item_path(item.id) do %><%=image_tag item.get_image(100,100)%><% end %></div>
          <div><%=item.name%></div>
          <div><%=item.price%></div>
          </div>
          <% end %>
   </div>
 </body>

 </html>