<html>
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <div class="container">
       <div class="row">
        <div class="col-md-3">
          <%= image_tag @item.get_image(100,100) %>
        </div>

        <div class="col-md-8 offset-md-1">
          <div><%=@item.name%></div>
          <div><%=@item.introduction%></div>
          <div>¥<%=@item.price*1.1%>(税込み)</div>
          <%= form_with model: @cart_item ,url: cart_items_path, metohd: :POST do |f|%>
          <div><%=f.select :amount, [['1',1],['2',2],['3',3]]%></div>
          <!--どの商品を買ったのかを識別-->
          <div><%= f.hidden_field :item_id, :value => @item.id%></div>
          <div><%= f.hidden_field :customer_id, :value => current_customer.id%></div>
          <div><%= f.submit "カートに入れる",class: 'btn btn-success btn-lg '%></div>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
